.container{
    margin: 0 auto;
    max-width: 1200px;
}
header{
    background-color: lightblue;
    font-family: 'Exo', sans-serif;
}
.header-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-wrapper img{
    max-width: 110px;
    max-height: 120px;
    margin-top: 10px;
}
.header_navigation{
    display: flex;
    align-items: center;
    margin-left: 8vw;
}
svg{
    color: white;
    width: 35px;
    height: 22px;
    margin-left: 20px;   
}
.header_navigation ul{
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 10px;
}
.header_navigation li{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}
.header_navigation a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Exo';
    font-weight: 600;
}
.header-wrapper a:hover::before{
    width: 100%;   
}
.header_navigation a::before{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    bottom: -5px;
    display: block;
    transition: all ease-in-out 300ms;
}







