*, 
*::after, 
*::before{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
header{
    background-color: lightblue;
    font-family: 'Exo', sans-serif;
}
.header-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-wrapper img{
    max-width: 110px;
    max-height: 120px;
    margin-top: 10px;
}
.header_navigation{
    display: flex;
    align-items: center;
    margin-left: 8vw;
}

.header_navigation ul{
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 10px;
}
.header_navigation li{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
}
.header_navigation a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Exo';
    font-weight: 600;
}
.header-wrapper a:hover::before{
    width: 100%;   
}
.header_navigation a::before{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    bottom: -5px;
    display: block;
    transition: all ease-in-out 300ms;
}


.search-bar-button svg{
    color: white;
    height: 20px;
    width: 20px;  
}
.search-bar{
    display: flex;
    background-color: #fff;
    border-radius: 35px;
    align-items: center;
    margin-left: 20px;
    padding: 3px;
    width: 38px;
    position: relative;
    overflow: hidden;
    transition: all  450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.search-bar-input{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    flex-grow: 1;
    position: absolute;
    line-height: 32px;
    opacity: 0;
    cursor: pointer;
}
.search-bar-button{
    background-color: lightblue;
    border-radius: 50%;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: auto;
    transition: all 350ms ease-in-out;
}
.search-bar:focus-within .search-bar-input{
    opacity: 1;
    cursor: initial;
    width: calc(100% - 40px);
}
.search-bar:focus-within{
    width: 270px;
    transition: all  450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    
}





